[BLAZMASS]
version = 0.993
split_scan_size = 2000
database_name = foo
reverse_peptides = {reverse_peptides}
ppm_peptide_mass_tolerance = {ppm_peptide_mass_tolerance}
isotopes = 1                           ; 0=search only monoisotopic peak, 1=search isotopes
create_output_files = 1                ; 0=no, 1=yes
ion_series = 0 1 1 1.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
ppm_fragment_ion_tolerance = {ppm_fragment_ion_tolerance}
ppm_fragment_ion_tolerance_high = {ppm_fragment_ion_tolerance_high}
num_output_lines = 10                   ; # peptide results to show
num_description_lines = 3              ; # full protein descriptions to show for top N peptides
show_fragment_ions = 0                 ; 0=no, 1=yes
print_duplicate_references = 1         ; 0=no, 1=yes
enzyme_name = trypsin
enzyme_residues = KR
enzyme_cut = c
miscleavage = 2
use_index = 1   ; 0= search with no index, 1=search using index
index_type = 1   ; 1= faster for small and medium db, 2= for large db
index_inmemory = 0 ;=0 for normal file, =1 for loading existing index in memory
enzyme_nocut_residues = P
xcorr_mode = 0                         ; 0 regular Xcorr(default), 1 - EE, 2 - ET, 3 - TT

[MONGODB]
#
# Use existing MongoDB database for peptide database (MassDB)
#
use_mongodb = 1							; 0=no, 1=yes

#
# MassDB MongoDB database info (overrides database_name above)
# MassDB is a mass-indexed MongoDB database of all possible tryptic peptides
# Connection and DB information must be present if use_mongodb is enabled above
# example URI: mongodb://wl-cmadmin:27018 or "mongodb://imsb0501:27018,imsb0515:27018,imsb0601:27018,imsb0615:27018"

MassDB_URI = {mongodb_uri}
MassDB_dbname = {massdb_name}
MassDB_collection = {massdbcoll}

#
# SeqDB is a peptide sequence-indexed MongoDB database of all possible tryptic peptides
# Used for looking up parent protein information for identified peptides (Protein ID numbers only)
# Used to fill in L lines in SQT output file
#
use_SeqDB = {use_seqdb}							; 0=no, 1=yes
SeqDB_URI = {mongodb_uri}
SeqDB_dbname = {seqdb_name}
SeqDB_collection = {seqdbcoll}

#
# ProtDB is a protein-indexed MongoDB database of all proteins in a FASTA file
# Used for looking up parent protein information for identified proteins
# Used to fill in additional information for L lines in SQT output file
#
use_ProtDB = {use_protdb}							; 0=no, 1=yes
ProtDB_URI = {mongodb_uri}
ProtDB_dbname = {protdb_name}
ProtDB_collection = {protdbcoll}

# Diff search options
diff_search_options = {diff_search_options}
#diff_search_Nterm = {diff_search_Nterm}
#diff_search_Cterm = {diff_search_Cterm}

# new parameters

max_num_differential_AA_per_mod = 2    ; max # of modified AA per diff. mod in a peptide
nucleotide_reading_frame = 0           ; 0=proteinDB, 1-6, 7=forward three, 8=reverse three, 9=all six
mass_type_parent = 1                   ; 0=average masses, 1=monoisotopic masses
remove_precursor_peak = 0              ; 0=no, 1=yes
mass_type_fragment = 1                 ; 0=average masses, 1=monoisotopic masses
ion_cutoff_percentage = 0.0            ; prelim. score cutoff % as a decimal number i.e. 0.30 for 30%
match_peak_count = 0                   ; number of auto-detected peaks to try matching (max 5)
match_peak_allowed_error = 1           ; number of allowed errors in matching auto-detected peaks
match_peak_tolerance = 1.0             ; mass tolerance for matching auto-detected peaks
max_num_internal_cleavage_sites = 3    ; maximum value is 5; for enzyme search

#
# partial sequence info ... overrides entries in .dta files
#   up to 10 partial sequences ... each must appear in peptides
#      analyzed in the forward or reverse directions
partial_sequence =

# protein mass & mass tolerance value i.e. 80000 10%
# or protein min & max value i.e. 72000 88000  (0 for both = unused)
protein_mass_filter = 0 0

# For sequence_header_filter, enter up to five (5) strings where any one must
# be in the header of a sequence entry for that entry to be searched.
# Strings are space separated and '~' substitutes for a space within a string.
# Example:  sequence_header_filter = human homo~sapien trypsin
sequence_header_filter =

add_C_terminus = 0.0                ; added to C-terminus (peptide mass & all Y-ions)
add_N_terminus = 0.0                ; added to N-terminus (B-ions)
add_G_Glycine = 0.0                 ; added to G - avg.  57.0519, mono.  57.02146
add_A_Alanine = 0.0                 ; added to A - avg.  71.0788, mono.  71.03711
add_S_Serine = 0.0                  ; added to S - avg.  87.0782, mono.  87.02303
add_P_Proline = 0.0                 ; added to P - avg.  97.1167, mono.  97.05276
add_V_Valine = 0.0                  ; added to V - avg.  99.1326, mono.  99.06841
add_T_Threonine = 0.0               ; added to T - avg. 101.1051, mono. 101.04768
add_C_Cysteine = 57.02146                ; added to C - avg. 103.1388, mono. 103.00919
add_L_Leucine = 0.0                 ; added to L - avg. 113.1594, mono. 113.08406
add_I_Isoleucine = 0.0              ; added to I - avg. 113.1594, mono. 113.08406
add_X_LorI = 0.0                    ; added to X - avg. 113.1594, mono. 113.08406
add_N_Asparagine = 0.0              ; added to N - avg. 114.1038, mono. 114.04293
add_O_Ornithine = 0.0               ; added to O - avg. 114.1472, mono  114.07931
add_B_avg_NandD = 0.0               ; added to B - avg. 114.5962, mono. 114.53494
add_D_Aspartic_Acid = 0.0           ; added to D - avg. 115.0886, mono. 115.02694
add_Q_Glutamine = 0.0               ; added to Q - avg. 128.1307, mono. 128.05858
add_K_Lysine = 0.0                  ; added to K - avg. 128.1741, mono. 128.09496
add_Z_avg_QandE = 0.0               ; added to Z - avg. 128.6231, mono. 128.55059
add_E_Glutamic_Acid = 0.0           ; added to E - avg. 129.1155, mono. 129.04259
add_M_Methionine = 0.0              ; added to M - avg. 131.1926, mono. 131.04049
add_H_Histidine = 0.0               ; added to H - avg. 137.1411, mono. 137.05891
add_F_Phenyalanine = 0.0            ; added to F - avg. 147.1766, mono. 147.06841
add_R_Arginine = 0.0                ; added to R - avg. 156.1875, mono. 156.10111
add_Y_Tyrosine = 0.0                ; added to Y - avg. 163.1760, mono. 163.06333
add_W_Tryptophan = 0.0              ; added to W - avg. 186.2132, mono. 186.07931
