{% extends "base.html" %}
{% set active_page = "view" %}

{% block title %} - Data{% endblock %}

{% block content %}
<h1>View and Manage Data{% block title_additions %}{% endblock %}</h1>
<p class="lead">Choose from recent datasets {% block subtitle_additions %}{% endblock %}</p>

<div class="row display-table">
    <div class="col-md-7 display-cell">
        <h3>Recent Datasets</h3>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Dataset name</th>
            <th class="text-center">MS2 files</th>
            <th class="text-center">Description</th>
            <th class="text-center">Date created</th>
            <th class="text-center"></th> <!-- quickview button -->
            <th class="text-center"></th> <!-- view/edit button -->

        </tr>
    </thead>
    <tr id="newDataset">
    </tr>
    {% for dataset_obj in recent_five_datasets %}
    <tr>
        <td class="text-center">{{ dataset_obj.name }}</td>
        <td class="text-center">{{ dataset_obj.ms2files.all()|length }}</td>
        <td class="text-center">{{ dataset_obj.description }}</td>
        <td class="text-center">{{ dataset_obj.uploaded_time.strftime('%m/%d/%Y, %I:%M %p') }}</td>
        <td class="text-center">
            <a href="" class="quickview" data-id="{{ dataset_obj.id }}" data-href="{{ url_for('api.dataset_quickinfo', dataset_pk=dataset_obj.id) }}"><button type="button" class="btn btn-success btn-sm">Quick View</button></a>
        </td>
        <td class="text-center">
            <a href="{{ url_for('data.dataset_info', dataset_pk=dataset_obj.id) }}"><button type="button" class="btn btn-primary btn-sm">View/Edit</button></a>
        </td>
    {% endfor %}
    </tr>
</table>

<br>

{% block upload_block %}

<div class="row">

    <div class="col-md-6">
    <!-- space to put upload message -->
        <h3 id="statusHeader"></h3>
        <h3><small id="statusSubheader"></small></h3>
        <div id="progressBar"></div>
        <div id="statusSection">
            <small id="smallStatusText"></small>
            <p></p>
            <p id="statusLine1"></p>
            <p id="statusLine2"></p>
            <p id="statusLine3"></p>
            <p id="statusLine4"></p>
            <p id="statusLine5"></p>
            <p id="statusLine6"></p>
            <p id="statusLine7"></p>
        </div>

    </div>

    <div class="col-md-6">
    <h3>
    Upload Dataset
    </h3>
        <form id="upload-file" method="POST" enctype="multipart/form-data">
            {{ upload_form.csrf_token }}

            <div class="row">
                <div class="col-md-12">
                {{ upload_form.dataset_name.label(class="form-label") }} 
                <small><em>
                    (60 character max, <strong>required</strong>)
                </em></small>
                {{ upload_form.dataset_name(class="form-control", id="datasetNameField") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; {{ upload_form.data_file(class="", multiple=True) }}
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <small><em>
                    (Supported filetypes: MS1, MS2, SQT, DTASelect-filter.txt)
                    </em></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {{ upload_form.dataset_desc.label(class="form-label") }}
                <small><em>
                    (500 character max)
                </em></small>
                {{ upload_form.dataset_desc(class="form-control", rows="5") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {{ upload_form.submit(class="btn btn-primary btn-lg", id="upload_button", disabled=true) }}
                </div>
            </div>
        </form>
    </div>

</div>

<script src="{{ url_for('static', filename='js/biome.js') }}"></script>
<script>

// File selection box
$(document).on('change', '.btn-file :file', function () {
    var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1, label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [
        numFiles,
        label
    ]);
});
$(document).ready(function () {
    $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
        var input = $(this).parents('.input-group').find(':text'), log = numFiles > 1 ? numFiles + ' files selected' : label;
        if (input.length) {
            input.val(log);
        } else {
            if (log)
                alert(log);
        }
    });
});

// Highlight Name field and disable Upload button if no name typed in
$(function() {
    $('#datasetNameField').focusout(function () {
        if (!$(this).val()) {
            $('#datasetNameField').addClass('highlight-form-field');
        }
        else {
            $('#datasetNameField').removeClass('highlight-form-field');
            $('#upload_button').prop('disabled', false);
        }
    });
});

// Upload status
$(function() {
    $('#upload_button').click(function(event) {
        event.preventDefault();
        var form_data = new FormData($('#upload-file')[0]);
        $("#statusHeader").text('Uploading data and creating dataset...');
        $("#progressBar").html('<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>');
        $.ajax({
            type: 'POST',
            url: '/data/',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#progressBar").html('');
            $("#statusHeader").text('File upload complete');
            $("#statusLine1").text('Created new dataset (ID: '+data['dataset_id']+')');
            if (data['ms1_data_ids']) {
                $("#statusLine2").text('Uploaded new MS1 files (ID: '+data['ms1_data_ids']+')');
            }
            if (data['ms2_data_ids']) {
                $("#statusLine3").text('Uploaded new MS2 files (ID: '+data['ms2_data_ids']+')');
            }

            if (data['dbsearch_id']) {
                $("#statusLine4").text('Created new database search record (ID: '+data['dbsearch_id']+')');
                if (data['sqt_data_ids']) {
                    $("#statusLine5").text('Uploaded new SQT files (ID: '+data['sqt_data_ids']+')');
                }
                if (data['dta_data_ids']) {
                    $("#statusLine6").text('Uploaded new DTASelect-filter files (ID: '+data['dta_data_ids']+')');
                }
            }

            if (data['ms2_data_ids']) {
                var newDatasetMS2s = data['ms2_data_ids'].length;
            }
            else {
                var newDatasetMS2s = 0;
            }

            var baseColumnMarkup = '<td class="text-center">{0}</td>';

            var quickInfoURL = "{{ url_for('api.dataset_quickinfo', dataset_pk=-1) }}".replace('-1', data['dataset_id']);
            // leaving as "display: none" for now, button doesn't work properly because it is created after the quickview.click event
            var quickViewButton = '<a href="" class="quickview" data-id="{0}" data-href="{1}"><button style="display:none;" type="button" class="btn btn-success btn-sm">Quick View</button></a>'.format(data['dataset_id'], quickInfoURL);

            var dataInfoURL = "{{ url_for('data.dataset_info', dataset_pk=-1) }}".replace('-1', data['dataset_id']);
            var viewEditButton = '<a href="{0}"><button type="button" class="btn btn-primary btn-sm">View/Edit</button></a>'.format(dataInfoURL);

            var columnMarkupArray = [   baseColumnMarkup.format(data['dataset_name']),
                                        baseColumnMarkup.format(newDatasetMS2s),
                                        baseColumnMarkup.format(data['dataset_description']),
                                        baseColumnMarkup.format('just now'),
                                        baseColumnMarkup.format(quickViewButton),
                                        baseColumnMarkup.format(viewEditButton)
                                    ];

            $("#newDataset").html(columnMarkupArray.join('\n'));

        }).fail(function(data){
            $("#progressBar").html('');
            $("#statusHeader").text('Error uploading files');
        });
    });
}); 

// Quickview
$('.quickview').click(function(event) {
    event.preventDefault();
    var dataset_id = $(this).attr("data-id");
    var url_for_quickview = $(this).attr("data-href");
    $.get(url_for_quickview, function(data) {
        $('#statusHeader').text('Dataset Information');
        $('#statusSubheader').text(data['name']+" (dataset ID: {0})".format(data['id']));
        $('#smallStatusText').text(data['description']);
        $('#statusLine1').html('<strong>MS1 files</strong>: '+data['ms1_files'].length);
        $('#statusLine2').html('<strong>MS2 files</strong>: '+data['ms2_files'].length);
        $('#statusLine3').html('<strong>Searches</strong>: '+data['dbsearches'].length);

    });
});

</script>
{% endblock %}

{% endblock %}
