{% extends "base.html" %}

{% block title %} - Data{% endblock %}

{% block content %}
<h1>View and Manage Data{% block title_additions %}{% endblock %}</h1>
<p class="lead">Choose from recent datasets {% block subtitle_additions %}{% endblock %}</p>

<div class="row display-table">
    <div class="col-md-7 display-cell">
        <h3>Recent Datasets</h3>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Dataset name</th>
            <th class="text-center">MS2 files</th>
            <th class="text-center">Description</th>
            <th class="text-center">Date created</th>
            <th class="text-center"></th> <!-- view button -->
            <th class="text-center"></th> <!-- edit button -->
            <th class="text-center"></th> <!-- delete button -->
        </tr>
    </thead>
    {% for dataset_obj in recent_five_datasets %}
    <tr>
        <td class="text-center">{{ dataset_obj.name }}</td>
        <td class="text-center">{{ dataset_obj.ms2files.all()|length }}</td>
        <td class="text-center">{{ dataset_obj.description }}</td>
        <td class="text-center">{{ dataset_obj.uploaded_time.strftime('%m/%d/%Y, %I:%M %p') }}</td>
        <td class="text-center">
            <a href="#"><button type="button" class="btn btn-success btn-sm">View</button></a>
        </td>
        <td class="text-center">
            <a href=""><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
        </td>
        <td class="text-center">
            <a href="#"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    {% endfor %}
    </tr>
</table>

<br>

{% block upload_block %}

<div class="row">

    <div class="col-md-6">
    <h3>
    Upload Dataset
    </h3>
        <form id="upload-file" method="POST" enctype="multipart/form-data">
            {{ upload_form.csrf_token }}

            <div class="row">
                <div class="col-md-12">
                {{ upload_form.dataset_name.label(class="form-label") }} 
                <small><em>
                    (60 character max)
                </em></small>
                {{ upload_form.dataset_name(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; {{ upload_form.data_file(class="", multiple=True) }}
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {{ upload_form.dataset_desc.label(class="form-label") }}
                <small><em>
                    (500 character max)
                </em></small>
                {{ upload_form.dataset_desc(class="form-control", rows="5") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {{ upload_form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" id="upload_status">
    <!-- space to put upload message -->

    </div>
</div>

<script>
$(document).on('change', '.btn-file :file', function () {
    var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1, label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [
        numFiles,
        label
    ]);
});
$(document).ready(function () {
    $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
        var input = $(this).parents('.input-group').find(':text'), log = numFiles > 1 ? numFiles + ' files selected' : label;
        if (input.length) {
            input.val(log);
        } else {
            if (log)
                alert(log);
        }
    });
});
//@ sourceURL=pen.js
</script>
{% endblock %}

{% endblock %}
