{% extends "base.html" %}
{% set active_page = "view" %}

{% block title %} - Data{% endblock %}

{% block content %}
<h1>SQT File Information</h1>

<p class="lead"> {% block subtitle_additions %}{% endblock %}</p>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Searched data from dataset <a href="{{ url_for('data.dataset_info', dataset_pk=parent_dataset.id) }}">{{ parent_dataset.name }}</a></h4></div>
    <div class="panel-body">
        <h3><small>Dataset Description</small></h3>
        <p><em>{{ parent_dataset.description }}</em></p>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><h3><small>Database Search (from {{ parent_dbsearch.start_time.strftime('%m/%d/%Y, %I:%M %p') }})</small></h3>
            <ul class="list-group">
                {% if dta_files %}
                <li class="list-group-item"><h3><small>Associated DTASelect-filter files</small></h3>
                    <ul class="list-group">
                        {% for dta_file in dta_files %}
                        <li class="list-group-item">
                            <a href="{{ url_for('data.dtafile_info', dtafile_pk=dta_file.id) }}">{{ dta_file.original_filename }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="list-group-item"><h3><small><em>No Associated DTASelect-filter files</em></small></h3></li>
                {% endif %}
            </ul>
        </li>

<!--         <li class="list-group-item"><h3><small>Download Data</small></h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>
                        <a href="" download target="_blank">SQT</a>
                    </strong>
                </li>
            </ul>
        </li> -->

        {% if current_sqtfile.scans %}
        <li class="list-group-item"><h3><small>Scans</small></h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>{{ current_sqtfile.scans }}</strong></li>
            </ul>
        </li>
        {% endif %}

    </ul>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 deleteDatasetButton"> 
                {% if current_sqtfile.deleted %}
                <a href="{{ url_for('data.delete_sqtfile', sqtfile_pk=current_sqtfile.id, recover=True) }}">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Recover SQT file</button>
                </a>
                {% else %}
                <a href="{{ url_for('data.delete_sqtfile', sqtfile_pk=current_sqtfile.id) }}">
                    <button type="button" class="btn btn-danger btn-lg btn-block">Delete SQT file</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="bottomBreadcrumb">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('data.document_index') }}">View Data</a></li>
      <li><a href="{{ url_for('data.dataset_info', dataset_pk=parent_dataset.id) }}">Dataset: {{ parent_dataset.name }} </a></li>
      <li><a href="{{ url_for('data.sqtfile_index') }}">SQT</a></li>
      <li class="active">SQT Result</li>
    </ol>
</div>

{% endblock %}
