.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.form-label {
    font-size: 1.5em;
    font-weight: normal;
    color: #7A7A7A;
}

form .row {
    margin-bottom: 1em;
}

#upload-form-filetype {
    padding-top: 0.3em;
}