{% extends "base.html" %}
{% set active_page = "search" %}

{% block title %} - View Search Status{% endblock %}

{% block content %}
<h1>Database Search Information</h1>

<p class="lead"> {% block subtitle_additions %}{% endblock %}</p>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Searched data from dataset <a href="{{ url_for('data.dataset_info', dataset_pk=parent_dataset.id) }}">{{ parent_dataset.name }}</a></h4></div>
    <div class="panel-body">
        <h3><small>Dataset Description</small></h3>
        <p><em>{{ parent_dataset.description }}</em></p>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><h3><small>Distributed Search</small></h3>
            <ul class="list-group">
                {% if celery_task_obj %}
                {% set percent_complete = (100*(tasks_complete|count)/(group_result|count))|round|int %}

                <li class="list-group-item">
                    {% set failure_class = '' %}
                    {% if tasks_failed %}
                        {% set failure_class = ' progress-bar-danger' %}
                    {% endif %}
                    <div class="progress">
                        <div class="progress-bar{{ failure_class }}" role="progressbar" aria-valuenow="{{ percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{ percent_complete }}%">
                        {{ percent_complete }}%
                        </div>
                    </div>
                    <p class="text-center">
                        <button type="button" class="btn btn-default" id="taskStatusShowMoreButton">
                            {{ tasks_complete|count }} out of {{ group_result|count }} search tasks completed
                        </button>
                        {% if tasks_failed %}
                        <p class="lead text-center">
                            {{ tasks_failed|count }} tasks failed
                        </p>
                        {% endif %}
                    </p>
                    <li class="list-group-item" id="taskStatusShowMore" style="display:none;">
                        <ul class="list-group" ><h3><small>Complete</small></h3>
                            {% for task_obj in tasks_complete %}
                            <li class="list-group-item">{{ task_obj.info }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="list-group" ><h3><small>Running</small></h3>
                            {% for task_obj in tasks_pending_retry %}
                            <li class="list-group-item">{{ task_obj.state }} ({{ task_obj.id }})</li>
                            {% endfor %}
                        </ul>
                        <ul class="list-group" ><h3><small>Failed</small></h3>
                            {% for task_obj in tasks_failed %}
                            <li class="list-group-item">{{ task_obj.state }} ({{ task_obj.id }})</li>
                            {% endfor %}
                        </ul>
                    </li>
                </li>
                {% endif %}

                {% if sqt_files %}
                <li class="list-group-item"><h3><small>Associated SQT files</small></h3>
                    <ul class="list-group">
                        {% for sqt_file in sqt_files %}
                        <li class="list-group-item">
                            <a href="{{ url_for('data.sqtfile_info', sqtfile_pk=sqt_file.id) }}">{{ sqt_file.original_filename }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="list-group-item"><h3><small><em>No Associated SQT files</em></small></h3></li>
                {% endif %}

                {% if dta_files %}
                <li class="list-group-item"><h3><small>Associated DTASelect-filter files</small></h3>
                    <ul class="list-group">
                        {% for dta_file in dta_files %}
                        <li class="list-group-item">
                            <a href="{{ url_for('data.dtafile_info', dtafile_pk=dta_file.id) }}">{{ dta_file.original_filename }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="list-group-item"><h3><small><em>No Associated DTASelect-filter files</em></small></h3></li>
                {% endif %}

                {% if search_params %}
                <li class="list-group-item"><h3><small>Search Parameters</small></h3>
                    <table class="table table-condensed table-hover">
                        <thead>
                                <tr>
                                    <th class="text-center col-md-6">Param Name</th>
                                    <th class="text-center col-md-6">Value</th>
                                </tr>
                        </thead>
                        {% for param, value in search_params|dictsort %}
                        <tr>
                            <td class="text-center col-md-6">{{ param }}</td>
                            <td class="text-center col-md-6">{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </li>
                {% endif %}
            </ul>
        </li>

    </ul>

    <div class="panel-footer">
<!--         <div class="row">
            filler
        </div> -->
    </div>
</div>

<div id="bottomBreadcrumb">
    <ol class="breadcrumb">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('data.document_index') }}">View Data</a></li>
      <li><a href="{{ url_for('data.dataset_info', dataset_pk=parent_dataset.id) }}">Dataset: {{ parent_dataset.name }} </a></li>
      <li class="active">Database Search</li>
    </ol>
</div>

<script src="{{ url_for('static', filename='js/biome.js') }}"></script>
<script>
$(function() {
    $('#taskStatusShowMoreButton').click(function(event) {
        event.preventDefault();
        if ( $('#taskStatusShowMore').is( ':hidden' ) ) {
            $('#taskStatusShowMoreButton').addClass('active');
            $('#taskStatusShowMore').slideDown();
        } else {
            $('#taskStatusShowMoreButton').removeClass('active');
            $('#taskStatusShowMore').slideUp();
        }

    });
});
</script>

{% endblock %}
