{% extends "base.html" %}
{% set active_page = None %}

{% block title %} - DB Status (cluster mongos){% endblock %}

{% block content %}
<h1>Database status</h1>
<p class="lead">cluster mongos query router status</p>  

<!-- <div class="row display-table">
    <div class="col-md-7 display-cell">
        <h3>Recent Datasets</h3>
    </div>
</div> -->

<div class="row">
    <div class="col-md-3" id="refreshButtonDiv">
        <button type="button" class="btn btn-primary" id="refreshButton">Refresh</button>
    </div>
    <div class="col-md-3" id="progressBarDiv" style="display:none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">mongos host:port</th>
            <th class="text-center">query time (ms)</th>
            <th class="text-center">last updated</th>
        </tr>
    </thead>

    <!-- for loop here -->
    <tr>
        <td class="text-center">mongos_data</td>
        <td class="text-center">querytime_data</td>
        <td class="text-center">lastupdated_data</td>
    </tr>
    <!-- endfor -->
</table>

<br>

<script src="{{ url_for('static', filename='js/biome.js') }}"></script>

<script>

// Refresh status
$(function() {
    $('#refreshButton').click(function(event) {
        event.preventDefault();

        var mongosAPIURL = "{{ url_for('api.mongos_status') }}";

        $.ajax({
            type: 'POST',
            url: mongosAPIURL,
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Submitted refresh tasks');

            if (data['task_id']) {
                $('#refreshButton').html('Refreshing...');
                $('#refreshButton').addClass('disabled');
                $("#progressBarDiv").show();
            }
            else {
                $("#progressBarDiv").html('Error submitting task');
            }

        }).fail(function(data){
            $("#progressBarDiv").html('Error submitting task');
        });
    });
});

</script>


{% endblock %}
